


	/*------------------------
	---------------- CONTENT
	------------------------*/
	
	/* You might want to change these options for the main container */
	#yourSliderId, #yourSliderId li {
		height: 300px;
		width: 900px;
	}
	
	/* images container - This is the most important container - Don't change important properties */
	#yourSliderId {
		
		list-style: none !important;
		float: left;
		margin: 0 !important;
		padding: 0 !important;
		overflow: hidden !important;
		position: relative !important;
		
	}

		/* each slider item - Nothing to change here */
		#yourSliderId li {
			
			display: none;
			float: left;
			margin: 0;
			position: absolute;
			width: 100%;
			
		}
		
		/* Don't edit this part */
		#yourSliderId li.current {
			
			display: block;
			z-index: 2 !important;
			
		}
		
		/* Don't edit this part */
		#yourSliderId li.next {
			
			display: block;
			z-index: 1 !important;
			
		}
		
		/* Don't edit this part - prevents inline lists from being hidden */
		#yourSliderId li ul li {
			
			display: block !important;
			position: relative !important;
			
		}

/*------------------------
	---------------- NAVS
	------------------------*/


		/*------------------------
		--------------- LEFT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_left {
			
			bottom: 10px;
			cursor: pointer !important;
			float: left;
			height: 22px;
			left: 10px;
			position: absolute;
			width: 22px;
			z-index: 5;
			
		}
		
		/* left arrow image */
		.slider_arrow_left {
			
			background: url('http://www.facturase.com/2/HTML/images/left_arrow.png') no-repeat top left;
			
		}


		/*------------------------
		-------------- RIGHT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_right {
			
			bottom: 10px;
			cursor: pointer;
			float: left;
			height: 22px;
			left: 37px;
			position: absolute;
			width: 22px;
			z-index: 5;
			
		}
		
		/* Right arrow Background */
		.slider_arrow_right {
			
			background: url('http://www.facturase.com/2/HTML/images/right_arrow.png') no-repeat top left;
			
		}




	/*------------------------
	---------------- SELECTORS
	------------------------*/
	
	/* Sets configs for selectors containers : absolute positioned in relation to #slider */
	.slider_selector, .slider_selector_dis {
		
		bottom: 10px;
		list-style: none;
		margin: 0 0 0 5px;
		position: absolute;
		right: 10px;
		z-index: 5;
		
	}
	
		/* Sets image of selectors */
		.slider_selector li, .slider_selector_dis li {
			
			display: block !important;
			background: url('http://www.facturase.com/2/HTML/images/slider_selector.png') no-repeat top left;
			cursor: pointer;
			float: left;
			margin: 0 3px !important;
			height: 10px !important;
			position: relative !important;
			width: 10px !important;
			
		}
		
		/* Sets the current selector */
		.slider_selector li.current, .slider_selector_dis li.current {
			
			background: url('http://www.facturase.com/2/HTML/images/slider_selector_current.png') no-repeat top left;
			
		}
	
	/* Disables the selectors */
	.slider_selector_dis li {
		
		cursor: default !important;
		z-index: 5;
		
	}
	
	.container {
		
		float: left;
		position: relative;
		width: 100%;
		z-index: 15;
		
	}
	
	
	
	
	
	
	
	
	a.learn_more {
	
	background: url('http://www.facturase.com/2/HTML/assets/learn_more_button.png') no-repeat top left;
	float: left;
	height: 36px;
	margin: 0 20px 0 0;
	width: 164px;
	
}

a.learn_more:hover {
	
	background: url('http://www.facturase.com/2/HTML/assets/learn_more_button_hover.png') no-repeat top left;
	
}

a.buy_it {
	
	background: url('http://www.facturase.com/2/HTML/assets/buy_it.png') no-repeat top left;
	float: left;
	height: 36px;
	margin: 0 20px 0 0;
	width: 164px;
	
}

a.buy_it:hover {
	
	background: url('http://www.facturase.com/2/HTML/assets/buy_it_hover.png') no-repeat top left;
	
}

	.container {
		
		float: left;
		position: relative;
		width: 890px;
		z-index: 15;
		
	}
	
	